In [1]:
%run etl.py

drop table if exists i94_time_dim
drop table if exists i94_enter_modes_dim
drop table if exists visa_categories_dim
drop table if exists states_dim
drop table if exists country_dim
drop table if exists port_of_entry_dim
AKIA5GCXSNGKEXKHVE6T
FR5rxO7T05vn0uBLgmp+Gr7Qm189gJNYWzPdzcfc
./i94_data/
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+
|cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|         admnum|fltno|visatype|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+
| 46.0|2016.0|  12.0| 129.0| 129.0|    HOU|20789.0|    1.0|     TX|20802.0|  46.0|    1.0|  1.0|20161201|     MDD| null|      H|      O|   null|      M| 1970.0|05262018|     M|  null|     RS| 9.755413803E10| 7715|      E2|
| 56.0|2016.0|  12.0| 245.0| 245.0|    NEW|20789.0|    1.0|     OH|20835.0|  28.0|    3.0|  1.0|20161201|     BEJ| null|      U|      O|   null|      M| 1988.0|     D/S|     F|  null|     CA| 9.062371823E10|  819|      F1|
| 67.0|2016.0|  12.0| 512.0| 512.0|    PEV|20789.0|    2.0|     MD|20794.0|  48.0|    2.0|  1.0|20161201|     NAS| null|      A|      D|   null|      M| 1968.0|06012017|     M|  5920|   null|8.0105031527E10| null|      B2|
| 68.0|2016.0|  12.0| 512.0| 512.0|    PEV|20789.0|    2.0|     FL|20792.0|  46.0|    2.0|  1.0|20161201|     NAS| null|      A|      D|   null|      M| 1970.0|06012017|     F|  5920|   null|8.0105106727E10| null|      B2|
| 69.0|2016.0|  12.0| 512.0| 512.0|    PEV|20789.0|    2.0|     HI|20792.0|  48.0|    2.0|  1.0|20161201|     NAS| null|      A|      D|   null|      M| 1968.0|06012017|     M|  5920|   null|8.0105107627E10| null|      B2|
| 70.0|2016.0|  12.0| 512.0| 512.0|    PEV|20789.0|    2.0|     FL|20792.0|   9.0|    2.0|  1.0|20161201|     NAS| null|      A|      D|   null|      M| 2007.0|06012017|     F|  5920|   null|8.0105108527E10| null|      B2|
| 71.0|2016.0|  12.0| 512.0| 512.0|    PEV|20789.0|    2.0|     VA|20792.0|  34.0|    2.0|  1.0|20161201|     NAS| null|      A|      D|   null|      M| 1982.0|06012017|     F|  5920|   null|8.0105152527E10| null|      B2|
| 72.0|2016.0|  12.0| 512.0| 512.0|    PEV|20789.0|    2.0|     NY|20792.0|  69.0|    2.0|  1.0|20161201|     NAS| null|      A|      D|   null|      M| 1947.0|06012017|     F|  5920|   null|8.0105153427E10| null|      B2|
| 73.0|2016.0|  12.0| 512.0| 512.0|    PEV|20789.0|    2.0|     NY|20794.0|  66.0|    2.0|  1.0|20161201|     NAS| null|      A|      D|   null|      M| 1950.0|06012017|     F|  5920|   null|8.0105155227E10| null|      B2|
| 74.0|2016.0|  12.0| 512.0| 512.0|    XXX|20789.0|    2.0|     DC|20794.0|  56.0|    2.0|  1.0|20161201|     NAS| null|      A|      D|   null|      M| 1960.0|06012017|     M|  null|   null|8.0105156127E10| null|      B2|
| 75.0|2016.0|  12.0| 512.0| 512.0|    PEV|20789.0|    2.0|     VA|20794.0|   6.0|    2.0|  1.0|20161201|     NAS| null|      A|      D|   null|      M| 2010.0|06012017|     M|  5920|   null|8.0105189127E10| null|      B2|
| 76.0|2016.0|  12.0| 512.0| 512.0|    PEV|20789.0|    2.0|     VA|20794.0|  38.0|    2.0|  1.0|20161201|     NAS| null|      A|      D|   null|      M| 1978.0|06012017|     U|  5920|   null|8.0105190027E10| null|      B2|
| 77.0|2016.0|  12.0| 512.0| 512.0|    PEV|20789.0|    9.0|     NY|20794.0|  40.0|    2.0|  1.0|20161201|     NAS| null|      A|      D|   null|      M| 1976.0|06012017|     M|  5920|   null|8.0105191027E10| null|      B2|
| 78.0|2016.0|  12.0| 512.0| 512.0|    PEV|20789.0|    9.0|     FL|20792.0|  28.0|    2.0|  1.0|20161201|    null| null|      A|      D|   null|      M| 1988.0|06012017|     F|  5920|   null|8.0105217627E10| null|      B2|
|106.0|2016.0|  12.0| 104.0| 104.0|    CHM|20789.0|    9.0|     NJ|   null|  26.0|    2.0|  1.0|20161201|    null| null|      A|   null|   null|   null| 1990.0|02282017|     F|  5319|   null|8.6530066528E10| null|      WT|
|107.0|2016.0|  12.0| 104.0| 104.0|    CHM|20789.0|    9.0|     NJ|   null|  26.0|    2.0|  1.0|20161201|    null| null|      A|   null|   null|   null| 1990.0|02282017|     M|  5319|   null|8.6530067428E10| null|      WT|
|108.0|2016.0|  12.0| 148.0| 112.0|    CHM|20789.0|    9.0|     FL|   null|  26.0|    2.0|  1.0|20161201|    null| null|      A|      W|   null|      M| 1990.0|02282017|     F|  5319|   null|8.6530068328E10| null|      WT|
|159.0|2016.0|  12.0| 135.0| 135.0|    HOU|20789.0|    2.0|     TX|20907.0|  65.0|    1.0|  1.0|20161201|     LND| null|      U|      O|   null|      M| 1951.0|03312018|     M|  null|    G1A| 9.247095473E10|7291A|      E2|
|166.0|2016.0|  12.0| 512.0| 512.0|    PEV|20789.0|    2.0|     FL|20792.0|  37.0|    2.0|  1.0|20161201|     NAS| null|      A|      D|   null|      M| 1979.0|06012017|     F|  5920|   null|8.0105219427E10| null|      B2|
|167.0|2016.0|  12.0| 512.0| 512.0|    PEV|20789.0|    9.0|     HI|20792.0|  24.0|    2.0|  1.0|20161201|     NAS| null|      A|      D|   null|      M| 1992.0|06012017|     F|  5742|   null|8.0105284527E10| null|      B2|
+-----+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+
only showing top 20 rows

+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+-----+---+
|            City|         State|Median_Age|Male_Population|Female_Population|Total_Population|Number_of_Veterans|Foreign_born|Average_Household_Size|State_Code|                Race|Count| id|
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+-----+---+
|   Silver Spring|      Maryland|      33.8|          40601|            41862|           82463|              1562|       30908|                   2.6|        MD|  Hispanic or Latino|25924|  1|
|          Quincy| Massachusetts|      41.0|          44129|            49500|           93629|              4147|       32935|                  2.39|        MA|               White|58723|  2|
|          Hoover|       Alabama|      38.5|          38040|            46799|           84839|              4819|        8229|                  2.58|        AL|               Asian| 4759|  3|
|Rancho Cucamonga|    California|      34.5|          88127|            87105|          175232|              5821|       33878|                  3.18|        CA|Black or African-...|24437|  4|
|          Newark|    New Jersey|      34.6|         138040|           143873|          281913|              5829|       86253|                  2.73|        NJ|               White|76402|  5|
|          Peoria|      Illinois|      33.1|          56229|            62432|          118661|              6634|        7517|                   2.4|        IL|American Indian a...| 1343|  6|
|        Avondale|       Arizona|      29.1|          38712|            41971|           80683|              4815|        8355|                  3.18|        AZ|Black or African-...|11592|  7|
|     West Covina|    California|      39.8|          51629|            56860|          108489|              3800|       37038|                  3.56|        CA|               Asian|32716|  8|
|        O'Fallon|      Missouri|      36.0|          41762|            43270|           85032|              5783|        3269|                  2.77|        MO|  Hispanic or Latino| 2583|  9|
|      High Point|North Carolina|      35.5|          51751|            58077|          109828|              5204|       16315|                  2.65|        NC|               Asian|11060| 10|
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+-----+---+
only showing top 10 rows

+--------------+-------------------+----------------+------------------+-----------------------------+
|         State|state_province_code|state_population|foreign_population|percentage_foreign_population|
+--------------+-------------------+----------------+------------------+-----------------------------+
|   Mississippi|                 MS|          242683|              4861|             2.00302452170115|
|          Utah|                 UT|         1050591|            132819|            12.64231275539197|
|  South Dakota|                 SD|          245098|             15309|             6.24607299937168|
|      Kentucky|                 KY|          929877|             66488|             7.15019298251274|
|    California|                 CA|        24822460|           7448257|            30.00611945794252|
|      Nebraska|                 NE|          721233|             71221|             9.87489479821361|
| New Hampshire|                 NH|          198198|             27199|            13.72314554132736|
|      Delaware|                 DE|           71957|              3336|             4.63610211654182|
|     Minnesota|                 MN|         1422403|            215873|            15.17664121912004|
|        Nevada|                 NV|         2240744|            481337|            21.48112412662937|
|North Carolina|                 NC|         3060199|            379327|            12.39550107689075|
|    Washington|                 WA|         2500107|            440962|            17.63772510536549|
|     Louisiana|                 LA|         1300595|             83419|             6.41391055632230|
|         Idaho|                 ID|          398883|             28126|             7.05119044932975|
|    New Mexico|                 NM|          839042|             89112|            10.62068406587513|
|         Maine|                 ME|           66872|              9229|            13.80099294173944|
|     Tennessee|                 TN|         2152560|            181405|             8.42740736611291|
|      Colorado|                 CO|         2935669|            337631|            11.50099006393432|
|       Arizona|                 AZ|         4499542|            682313|            15.16405447487767|
|     Wisconsin|                 WI|         1413145|            124687|             8.82336915178556|
+--------------+-------------------+----------------+------------------+-----------------------------+
only showing top 20 rows

+----+--------------+-----+---+
|CODE|      LOCATION|State| id|
+----+--------------+-----+---+
| ABE|      Aberdeen|   WA|  1|
| ABG|        Alburg|   VT|  2|
| ABQ|   Albuquerque|   NM|  3|
| ABS|Alburg Springs|   VT|  4|
| ADT|   Amistad Dam|   TX|  5|
| AGA|         Agana| Guam|  6|
| AGN|       Algonac|   MI|  7|
| AGU|      Mayaguez|   PR|  8|
| AKR|         Akron|   OH|  9|
| ALB|        Albany|   NY| 10|
+----+--------------+-----+---+
only showing top 10 rows

+---------------+------------+------------------+---+
|         Region|Country_Code|      Country_Name| id|
+---------------+------------+------------------+---+
|Central America|         582|           MEXICO |  1|
|   Central Asia|         236|      AFGHANISTAN |  2|
|Southern Europe|         101|          ALBANIA |  3|
|Northern Africa|         316|          ALGERIA |  4|
|Southern Europe|         102|          ANDORRA |  5|
| Central Africa|         324|           ANGOLA |  6|
|      Caribbean|         529|         ANGUILLA |  7|
|      Caribbean|         518|  ANTIGUA-BARBUDA |  8|
|  South America|         687|        ARGENTINA |  9|
|         Caucus|         151|          ARMENIA | 10|
+---------------+------------+------------------+---+
only showing top 10 rows

+----+--------------+-----+---+
|CODE|      LOCATION|State| id|
+----+--------------+-----+---+
| ABE|      Aberdeen|   WA|  1|
| ABG|        Alburg|   VT|  2|
| ABQ|   Albuquerque|   NM|  3|
| ABS|Alburg Springs|   VT|  4|
| ADT|   Amistad Dam|   TX|  5|
| AGA|         Agana| Guam|  6|
| AGN|       Algonac|   MI|  7|
| AGU|      Mayaguez|   PR|  8|
| AKR|         Akron|   OH|  9|
| ALB|        Albany|   NY| 10|
+----+--------------+-----+---+
only showing top 10 rows

i94 data size
3432990
Bad i94 data
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+-------+------+------+-------+------+-----+--------+
|cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear|dtaddto|gender|insnum|airline|admnum|fltno|visatype|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+-------+------+------+-------+------+-----+--------+
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+-------+------+------+-------+------+-----+--------+

Negative dates
+--------+
|i94_date|
+--------+
+--------+

+------------+--------+-----+----+---+-------+
|          id|i94_date|month|year|day|quarter|
+------------+--------+-----+----+---+-------+
|           1| 20948.0|    5|2017|  9|      2|
|           2| 20864.0|    2|2017| 14|      1|
|           3| 20893.0|    3|2017| 15|      1|
|           4| 20974.0|    6|2017|  4|      2|
| 51539607553| 20902.0|    3|2017| 24|      1|
| 51539607554| 20835.0|    1|2017| 16|      1|
| 51539607555| 20919.0|    4|2017| 10|      2|
| 60129542145| 20980.0|    6|2017| 10|      2|
| 60129542146| 20957.0|    5|2017| 18|      2|
| 60129542147| 20775.0|   11|2016| 17|      4|
| 77309411329| 20833.0|    1|2017| 14|      1|
| 94489280513| 20968.0|    5|2017| 29|      2|
|103079215105| 20938.0|    4|2017| 29|      2|
|128849018881| 20892.0|    3|2017| 14|      1|
|137438953473| 20945.0|    5|2017|  6|      2|
|137438953474| 20916.0|    4|2017|  7|      2|
|137438953475| 20556.0|    4|2016| 12|      2|
|137438953476| 20757.0|   10|2016| 30|      4|
|154618822657| 20804.0|   12|2016| 16|      4|
|154618822658| 20932.0|    4|2017| 23|      2|
+------------+--------+-----+----+---+-------+
only showing top 20 rows

StructType(List(StructField(id,LongType,false),StructField(cicid,IntegerType,true),StructField(visitor_birth_year,DecimalType(10,0),true),StructField(gender,StringType,true),StructField(i94_entry_mode_id,LongType,true),StructField(insnum,StringType,true),StructField(airline,StringType,true),StructField(admnum,DecimalType(10,0),true),StructField(fltno,StringType,true),StructField(dtadfile,StringType,true),StructField(i94visa,DoubleType,true),StructField(visapost_1,StringType,true),StructField(occup_1,StringType,true),StructField(entdepa,StringType,true),StructField(entdepd,StringType,true),StructField(matflag,StringType,true),StructField(arrival_date_id,LongType,true),StructField(departure_date_id,LongType,true),StructField(country_of_citizenship_id,LongType,true),StructField(country_of_residence_id,LongType,true),StructField(port_of_entry_id,LongType,true),StructField(destination_state_id,LongType,true)))
jdbc:postgresql://dwhcluster.c6qk8tyhoivg.us-west-2.redshift.amazonaws.com/dwh?user=dwhuser&password=Passw0rd
s3a://mohansbucket/i94_data_1

   copy i94_data from 's3://mohansbucket/i94_data_1'
    credentials 'aws_iam_role=arn:aws:iam::906421758356:role/dwhRole'
    FORMAT AS PARQUET;

StructType(List(StructField(id,LongType,false),StructField(cicid,IntegerType,true),StructField(visitor_birth_year,DecimalType(10,0),true),StructField(gender,StringType,true),StructField(i94_entry_mode_id,LongType,true),StructField(insnum,StringType,true),StructField(airline,StringType,true),StructField(admnum,DecimalType(10,0),true),StructField(fltno,StringType,true),StructField(dtadfile,StringType,true),StructField(i94visa,DoubleType,true),StructField(visapost_1,StringType,true),StructField(occup_1,StringType,true),StructField(entdepa,StringType,true),StructField(entdepd,StringType,true),StructField(matflag,StringType,true),StructField(arrival_date_id,LongType,true),StructField(departure_date_id,LongType,true),StructField(country_of_citizenship_id,LongType,true),StructField(country_of_residence_id,LongType,true),StructField(port_of_entry_id,LongType,true),StructField(destination_state_id,LongType,true)))

+------------------+---------------+-------------+
|      country_name|         region|visitor_count|
+------------------+---------------+-------------+
|    UNITED KINGDOM| Western Europe|       293649|
|            MEXICO|Central America|       282908|
|             JAPAN|      East Asia|       262259|
|         CHINA PRC|      East Asia|       184904|
|            BRAZIL|  South America|       161502|
|         AUSTRALIA|      Australia|       113737|
|            FRANCE| Western Europe|       105154|
|             ITALY|Southern Europe|        99318|
|          COLOMBIA|  South America|        97585|
|             SPAIN| Western Europe|        80551|
|         VENEZUELA|  South America|        68073|
|         ARGENTINA|  South America|        63880|
|             INDIA|     South Asia|        59266|
|            SWEDEN|Northern Europe|        52592|
|DOMINICAN REPUBLIC|      Caribbean|        42250|
|       NETHERLANDS| Western Europe|        40644|
|        COSTA RICA|Central America|        39842|
|       PHILIPPINES|South East Asia|        32968|
|         GUATEMALA|Central America|        32814|
|           IRELAND|Northern Europe|        32470|
+------------------+---------------+-------------+
only showing top 20 rows

+---------------+-------------+
|         region|visitor_count|
+---------------+-------------+
| Western Europe|       550825|
|  South America|       480065|
|      East Asia|       479804|
|Central America|       423222|
|      Caribbean|       141526|
|Northern Europe|       138228|
|Southern Europe|       116221|
|      Australia|       113737|
|South East Asia|        84420|
|     South Asia|        70399|
| Central Europe|        58229|
|   Western Asia|        28522|
|    Australasia|        20610|
| Western Africa|        16582|
|     Carribbean|        16301|
|    Middle East|        13979|
| Eastern Europe|        12847|
|   South Africa|        11202|
|   Central Asia|         8428|
|Northern Africa|         8244|
+---------------+-------------+
only showing top 20 rows

+--------------------+------------------+-------------+
|               state|foreign_population|visitor_count|
+--------------------+------------------+-------------+
|             Florida|           1684897|       801836|
|            New York|           3438081|       523666|
|          California|           7448257|       496862|
|              Hawaii|            101312|       195328|
|               Texas|           2942164|       155041|
|              Nevada|            481337|        88500|
|          New Jersey|            477028|        74151|
|            Illinois|            941735|        58063|
|       Massachusetts|            520597|        57172|
|          Washington|            440962|        44938|
|             Georgia|            147785|        30292|
|            Virginia|            269254|        29764|
|            Colorado|            337631|        28668|
|        Pennsylvania|            290860|        27188|
|            Maryland|            229794|        23583|
|            Michigan|            249772|        23437|
|      North Carolina|            379327|        21677|
|             Arizona|            682313|        21359|
|District of Columbia|             95117|        20755|
|           Louisiana|             83419|        14519|
+--------------------+------------------+-------------+
only showing top 20 rows

+---------------+-------+-------------+
|         region|quarter|visitor_count|
+---------------+-------+-------------+
|       Caucasus|      4|          406|
|   North Africa|      4|           63|
|Southern Africa|      4|          482|
| Central Africa|      4|         4006|
|  North America|      4|          814|
|  Pacific Ocean|      4|            3|
|  South America|      4|       480065|
|    East Africa|      4|           70|
| Eastern Europe|      4|        12847|
|   Indian Ocean|      4|          358|
|South East Asia|      4|        84420|
| US Territories|      4|          561|
|    Australasia|      4|        20610|
|         Caucus|      4|         1556|
|      Caribbean|      4|       141526|
| Eastern Africa|      4|         3683|
|        Pacific|      4|           50|
|    Middle East|      4|        13979|
|Central America|      4|       423222|
|Pacific Islands|      4|         1601|
+---------------+-------+-------------+
only showing top 20 rows

+---------------+-------------+
|       location|visitor_count|
+---------------+-------------+
|          Miami|       536898|
|       New York|       458595|
|    Los Angeles|       362293|
|       Honolulu|       186677|
|         Newark|       162796|
|  San Francisco|       155916|
|        Orlando|       129758|
|        Houston|       128180|
|          Agana|       109843|
|Fort Lauderdale|       108558|
|        Chicago|        95863|
|         Dallas|        79998|
|     Washington|        69478|
|        Atlanta|        63134|
|         Boston|        54577|
|      Las Vegas|        53692|
|        Seattle|        30862|
|        Detroit|        26373|
|   Philadelphia|        25319|
|       San Juan|        18334|
+---------------+-------------+
only showing top 20 rows